.highlight{

    color: #f8b500;
      
    font-weight: bold;
}
.h1 {
   
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}